
body {
  background-color: darkgreen;
}

#board {
  width: 800px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}


#paddleLeft {
  background-color: white;
  width: 20px;
  height: 100px;
  position: absolute;
  left: 10px;
  top: 190px;
  
  
}

#paddleRight {
  background-color: white;
  width: 20px;
  height: 100px;
  position: absolute;
  left: 860px;
  top: 190px;
  
  
}

#ball {
  background-color: white;
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 20px;
}

#score {
  background-color: white;
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 20px;
}
